# Ollie API OpenAPI Specification

openapi: 3.0.3
info:
  title: Ollie API
  description: |
    HTTP API Documentation for Ollie endpoints.
    
    This API includes:
    - N8N workflow endpoints
    
    ## Authentication
    Most endpoints require authentication. Include your API key in the request headers.
    
    ## Base URL
    Unless otherwise stated, all endpoints are relative to: `https://alpaca009.app.n8n.cloud`
    
  version: 1.0.0
  contact:
    name: API Support
    email: support@example.com

servers:
  - url: https://alpaca009.app.n8n.cloud
    description: Production server

tags:
  - name: N8N Workflows
    description: Endpoints for N8N workflow webhooks
  - name: Custom Webhooks
    description: Custom webhook endpoints
  - name: Health
    description: Health check and monitoring endpoints

security:
  - ApiKeyAuth: []

paths:
  /webhook/agent-interaction:
    post:
      tags:
        - N8N Workflows
      summary: Main Interaction
      description: Acts as the primary entry point for all agent interactions. This includes responses from user intercations or other events that may be multi-step with the exception of explicit Human-in-the-loop interactions.
      operationId: agentInteraction
      requestBody:
        required: true
        description: Payload to send to the N8N workflow
        content:
          application/json:
            schema:
              type: object
              properties:
                email: 
                  type: string
                  description: Email address of the user
                  example: user@example.com
                content:
                  type: string
                  description: The user message
                  example:
                    "Do you recommend any posts for the upcoming holiday season?"
                platform_id:
                  type: string
                  description: The platform ID
                  example: 1234567890
                platform:
                  type: string
                  description: The platform type
                  example: instagram
                auth0_id:
                  type: string
                  description: The Auth0 ID of the user
                  example: auth0|1234567890
                session_id:
                  type: string
                  description: The session ID. If not provided, the response will contain a session ID that should be referenced in subsequent calls for this conversation.
                  example: c94ef4b8-1163-4c53-bb19-9e4ed1e16820
      responses:
        '200':
          description: Workflow triggered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Workflow triggered successfully
                  session_id:
                    type: string
                    description: The session ID. If provided in request, should be returned in response, otherwise a new session ID will be generated.
                    example: c94ef4b8-1163-4c53-bb19-9e4ed1e16820
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'  
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication. Include this in the header of your requests.

  schemas:
    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: Error type
          example: ValidationError
        message:
          type: string
          description: Error message
          example: The provided payload is invalid
        details:
          type: object
          description: Additional error details
          additionalProperties: true
